USE [BaseCoreSales]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 4/30/2026 7:43:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CartDetails]    Script Date: 4/30/2026 7:43:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CartDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_CartDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 4/30/2026 7:43:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 4/30/2026 7:43:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
	[OrderId1] [int] NULL,
 CONSTRAINT [PK_OrderDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderPromotions]    Script Date: 4/30/2026 7:43:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderPromotions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[PromotionId] [int] NOT NULL,
	[DiscountAmount] [decimal](18, 2) NOT NULL,
	[AppliedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_OrderPromotions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 4/30/2026 7:43:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[OrderDate] [datetime2](7) NOT NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[ShippingAddress] [nvarchar](500) NOT NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Origins]    Script Date: 4/30/2026 7:43:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Origins](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Origins] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductOrigins]    Script Date: 4/30/2026 7:43:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductOrigins](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[OriginId] [int] NOT NULL,
 CONSTRAINT [PK_ProductOrigins] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 4/30/2026 7:43:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Stock] [int] NOT NULL,
	[ImageUrl] [nvarchar](500) NOT NULL,
	[Description] [nvarchar](1000) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[OriginalPrice] [decimal](18, 2) NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductVariants]    Script Date: 4/30/2026 7:43:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductVariants](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[Size] [nvarchar](10) NOT NULL,
	[Color] [nvarchar](20) NULL,
	[Stock] [int] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PromotionProducts]    Script Date: 4/30/2026 7:43:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PromotionProducts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PromotionId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
 CONSTRAINT [PK_PromotionProducts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Promotions]    Script Date: 4/30/2026 7:43:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Promotions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](1000) NULL,
	[DiscountType] [nvarchar](30) NOT NULL,
	[DiscountValue] [decimal](18, 2) NOT NULL,
	[MinimumOrderAmount] [decimal](18, 2) NOT NULL,
	[MaximumDiscountAmount] [decimal](18, 2) NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[EndDate] [datetime2](7) NOT NULL,
	[UsageLimit] [int] NULL,
	[UsedCount] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Promotions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 4/30/2026 7:43:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[Rating] [int] NOT NULL,
	[Comment] [nvarchar](1000) NULL,
	[CreatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shippings]    Script Date: 4/30/2026 7:43:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shippings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[ReceiverName] [nvarchar](100) NOT NULL,
	[ReceiverPhone] [nvarchar](20) NOT NULL,
	[ShippingAddress] [nvarchar](500) NOT NULL,
	[ShippingMethod] [nvarchar](30) NOT NULL,
	[ShippingStatus] [nvarchar](30) NOT NULL,
	[ShippingFee] [decimal](18, 2) NOT NULL,
	[ShippedDate] [datetime2](7) NULL,
	[EstimatedDeliveryDate] [datetime2](7) NULL,
	[DeliveredDate] [datetime2](7) NULL,
	[TrackingCode] [nvarchar](100) NULL,
	[CarrierName] [nvarchar](100) NULL,
	[Note] [nvarchar](1000) NULL,
 CONSTRAINT [PK_Shippings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 4/30/2026 7:43:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[Salt] [varbinary](max) NOT NULL,
	[Contact] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[Position] [nvarchar](max) NOT NULL,
	[Image] [nvarchar](max) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[UserType] [int] NOT NULL,
	[Created] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260428181849_InitialCreate', N'8.0.8')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260429024655_AlignOrderUserAndOrderDetail', N'8.0.8')
GO
SET IDENTITY_INSERT [dbo].[CartDetails] ON 

INSERT [dbo].[CartDetails] ([Id], [UserId], [ProductId], [Quantity], [UnitPrice], [CreatedAt], [UpdatedAt]) VALUES (1002, N'00000000-0000-0000-0000-000000000020', 1, 1, CAST(120000.00 AS Decimal(18, 2)), CAST(N'2026-04-29T15:12:23.2966667' AS DateTime2), NULL)
INSERT [dbo].[CartDetails] ([Id], [UserId], [ProductId], [Quantity], [UnitPrice], [CreatedAt], [UpdatedAt]) VALUES (1003, N'00000000-0000-0000-0000-000000000036', 2, 1, CAST(86000.00 AS Decimal(18, 2)), CAST(N'2026-04-29T15:12:23.2966667' AS DateTime2), NULL)
INSERT [dbo].[CartDetails] ([Id], [UserId], [ProductId], [Quantity], [UnitPrice], [CreatedAt], [UpdatedAt]) VALUES (1004, N'00000000-0000-0000-0000-000000000019', 3, 1, CAST(488000.00 AS Decimal(18, 2)), CAST(N'2026-04-29T15:12:23.2966667' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[CartDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [Name], [Description]) VALUES (1, N'Áo nam', N'')
INSERT [dbo].[Categories] ([Id], [Name], [Description]) VALUES (2, N'Quần nam', N'')
INSERT [dbo].[Categories] ([Id], [Name], [Description]) VALUES (3, N'Áo nữ', N'')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetails] ON 

INSERT [dbo].[OrderDetails] ([Id], [OrderId], [ProductId], [Quantity], [UnitPrice], [OrderId1]) VALUES (1, 1, 3, 3, CAST(488000.00 AS Decimal(18, 2)), NULL)
INSERT [dbo].[OrderDetails] ([Id], [OrderId], [ProductId], [Quantity], [UnitPrice], [OrderId1]) VALUES (2, 2, 62, 1, CAST(541000.00 AS Decimal(18, 2)), NULL)
INSERT [dbo].[OrderDetails] ([Id], [OrderId], [ProductId], [Quantity], [UnitPrice], [OrderId1]) VALUES (3, 3, 27, 3, CAST(116000.00 AS Decimal(18, 2)), NULL)
SET IDENTITY_INSERT [dbo].[OrderDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderPromotions] ON 

INSERT [dbo].[OrderPromotions] ([Id], [OrderId], [PromotionId], [DiscountAmount], [AppliedAt]) VALUES (1002, 1, 1, CAST(50000.00 AS Decimal(18, 2)), CAST(N'2026-04-29T15:12:23.2766667' AS DateTime2))
INSERT [dbo].[OrderPromotions] ([Id], [OrderId], [PromotionId], [DiscountAmount], [AppliedAt]) VALUES (1003, 2, 2, CAST(50000.00 AS Decimal(18, 2)), CAST(N'2026-04-29T15:12:23.2766667' AS DateTime2))
INSERT [dbo].[OrderPromotions] ([Id], [OrderId], [PromotionId], [DiscountAmount], [AppliedAt]) VALUES (1004, 3, 3, CAST(50000.00 AS Decimal(18, 2)), CAST(N'2026-04-29T15:12:23.2766667' AS DateTime2))
SET IDENTITY_INSERT [dbo].[OrderPromotions] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([Id], [UserId], [OrderDate], [TotalAmount], [Status], [ShippingAddress]) VALUES (1, N'00000000-0000-0000-0000-000000000018', CAST(N'2026-04-28T15:12:23.2700000' AS DateTime2), CAST(1464000.00 AS Decimal(18, 2)), N'DANG_VAN_CHUYEN', N'Hà Nội')
INSERT [dbo].[Orders] ([Id], [UserId], [OrderDate], [TotalAmount], [Status], [ShippingAddress]) VALUES (2, N'00000000-0000-0000-0000-000000000015', CAST(N'2026-04-27T15:12:23.2700000' AS DateTime2), CAST(541000.00 AS Decimal(18, 2)), N'DANG_VAN_CHUYEN', N'Hà Nội')
INSERT [dbo].[Orders] ([Id], [UserId], [OrderDate], [TotalAmount], [Status], [ShippingAddress]) VALUES (3, N'00000000-0000-0000-0000-000000000040', CAST(N'2026-04-26T15:12:23.2700000' AS DateTime2), CAST(348000.00 AS Decimal(18, 2)), N'PENDING', N'Hà Nội')
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Origins] ON 

INSERT [dbo].[Origins] ([Id], [Name], [Description], [IsActive], [CreatedAt]) VALUES (1, N'Origin 1', N'Mô tả 1', 1, CAST(N'2026-04-29T15:12:23.2166667' AS DateTime2))
INSERT [dbo].[Origins] ([Id], [Name], [Description], [IsActive], [CreatedAt]) VALUES (2, N'Origin 2', N'Mô tả 2', 1, CAST(N'2026-04-29T15:12:23.2166667' AS DateTime2))
INSERT [dbo].[Origins] ([Id], [Name], [Description], [IsActive], [CreatedAt]) VALUES (3, N'Origin 3', N'Mô tả 3', 1, CAST(N'2026-04-29T15:12:23.2166667' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Origins] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductOrigins] ON 

INSERT [dbo].[ProductOrigins] ([Id], [ProductId], [OriginId]) VALUES (1002, 1, 1)
INSERT [dbo].[ProductOrigins] ([Id], [ProductId], [OriginId]) VALUES (1003, 2, 2)
INSERT [dbo].[ProductOrigins] ([Id], [ProductId], [OriginId]) VALUES (1004, 3, 3)
GO
SET IDENTITY_INSERT [dbo].[ProductOrigins] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([Id], [Name], [Price], [Stock], [ImageUrl], [Description], [CategoryId], [OriginalPrice]) VALUES (1, N'Sản phẩm 1', CAST(120000.00 AS Decimal(18, 2)), 55, N'/img/man/img33.png', N'Mô tả 1', 1, CAST(150000.00 AS Decimal(18, 2)))
INSERT [dbo].[Products] ([Id], [Name], [Price], [Stock], [ImageUrl], [Description], [CategoryId], [OriginalPrice]) VALUES (2, N'Sản phẩm 2', CAST(86000.00 AS Decimal(18, 2)), 164, N'/img/woman/img1.png', N'Mô tả 2', 4, CAST(102000.00 AS Decimal(18, 2)))
INSERT [dbo].[Products] ([Id], [Name], [Price], [Stock], [ImageUrl], [Description], [CategoryId], [OriginalPrice]) VALUES (3, N'Sản phẩm 3', CAST(488000.00 AS Decimal(18, 2)), 32, N'/img/man/img34.png', N'Mô tả 3', 1, CAST(502000.00 AS Decimal(18, 2)))
GO
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductVariants] ON 

INSERT [dbo].[ProductVariants] ([Id], [ProductId], [Size], [Color], [Stock], [Price]) VALUES (1, 1, N'XS', NULL, 10, CAST(150000.00 AS Decimal(18, 2)))
INSERT [dbo].[ProductVariants] ([Id], [ProductId], [Size], [Color], [Stock], [Price]) VALUES (2, 1, N'S', NULL, 20, CAST(150000.00 AS Decimal(18, 2)))
INSERT [dbo].[ProductVariants] ([Id], [ProductId], [Size], [Color], [Stock], [Price]) VALUES (3, 1, N'M', NULL, 30, CAST(150000.00 AS Decimal(18, 2)))
GO
SET IDENTITY_INSERT [dbo].[ProductVariants] OFF
GO
SET IDENTITY_INSERT [dbo].[PromotionProducts] ON 

INSERT [dbo].[PromotionProducts] ([Id], [PromotionId], [ProductId]) VALUES (1002, 1, 1)
INSERT [dbo].[PromotionProducts] ([Id], [PromotionId], [ProductId]) VALUES (1003, 2, 2)
INSERT [dbo].[PromotionProducts] ([Id], [PromotionId], [ProductId]) VALUES (1004, 3, 3)
SET IDENTITY_INSERT [dbo].[PromotionProducts] OFF
GO
SET IDENTITY_INSERT [dbo].[Promotions] ON 

INSERT [dbo].[Promotions] ([Id], [Code], [Name], [Description], [DiscountType], [DiscountValue], [MinimumOrderAmount], [MaximumDiscountAmount], [StartDate], [EndDate], [UsageLimit], [UsedCount], [IsActive], [CreatedAt]) VALUES (1, N'CODE1', N'KM 1', N'Mô tả', N'AMOUNT', CAST(5.00 AS Decimal(18, 2)), CAST(100000.00 AS Decimal(18, 2)), CAST(50000.00 AS Decimal(18, 2)), CAST(N'2026-04-29T15:12:23.2600000' AS DateTime2), CAST(N'2026-05-29T15:12:23.2600000' AS DateTime2), NULL, 0, 1, CAST(N'2026-04-29T15:12:23.2600000' AS DateTime2))
INSERT [dbo].[Promotions] ([Id], [Code], [Name], [Description], [DiscountType], [DiscountValue], [MinimumOrderAmount], [MaximumDiscountAmount], [StartDate], [EndDate], [UsageLimit], [UsedCount], [IsActive], [CreatedAt]) VALUES (2, N'CODE2', N'KM 2', N'Mô tả', N'PERCENT', CAST(10.00 AS Decimal(18, 2)), CAST(100000.00 AS Decimal(18, 2)), CAST(50000.00 AS Decimal(18, 2)), CAST(N'2026-04-29T15:12:23.2600000' AS DateTime2), CAST(N'2026-05-29T15:12:23.2600000' AS DateTime2), NULL, 0, 1, CAST(N'2026-04-29T15:12:23.2600000' AS DateTime2))
INSERT [dbo].[Promotions] ([Id], [Code], [Name], [Description], [DiscountType], [DiscountValue], [MinimumOrderAmount], [MaximumDiscountAmount], [StartDate], [EndDate], [UsageLimit], [UsedCount], [IsActive], [CreatedAt]) VALUES (3, N'CODE3', N'KM 3', N'Mô tả', N'FREESHIP', CAST(0.00 AS Decimal(18, 2)), CAST(100000.00 AS Decimal(18, 2)), CAST(50000.00 AS Decimal(18, 2)), CAST(N'2026-04-29T15:12:23.2600000' AS DateTime2), CAST(N'2026-05-29T15:12:23.2600000' AS DateTime2), NULL, 0, 1, CAST(N'2026-04-29T15:12:23.2600000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Promotions] OFF
GO
SET IDENTITY_INSERT [dbo].[Reviews] ON 

INSERT [dbo].[Reviews] ([Id], [ProductId], [UserId], [Rating], [Comment], [CreatedAt]) VALUES (1, 1, N'00000000-0000-0000-0000-000000000038', 5, N'Sản phẩm tốt 1', CAST(N'2026-04-29T16:51:14.9033333' AS DateTime2))
INSERT [dbo].[Reviews] ([Id], [ProductId], [UserId], [Rating], [Comment], [CreatedAt]) VALUES (2, 1, N'00000000-0000-0000-0000-000000000009', 1, N'Sản phẩm tốt 2', CAST(N'2026-04-29T16:51:14.9033333' AS DateTime2))
INSERT [dbo].[Reviews] ([Id], [ProductId], [UserId], [Rating], [Comment], [CreatedAt]) VALUES (3, 1, N'00000000-0000-0000-0000-000000000029', 3, N'Sản phẩm tốt 3', CAST(N'2026-04-29T16:51:14.9066667' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[Reviews] OFF
GO
SET IDENTITY_INSERT [dbo].[Shippings] ON 

INSERT [dbo].[Shippings] ([Id], [OrderId], [ReceiverName], [ReceiverPhone], [ShippingAddress], [ShippingMethod], [ShippingStatus], [ShippingFee], [ShippedDate], [EstimatedDeliveryDate], [DeliveredDate], [TrackingCode], [CarrierName], [Note]) VALUES (1002, 1, N'Khách 1', N'0900000001', N'Hà Nội', N'STANDARD', N'WAITING', CAST(20000.00 AS Decimal(18, 2)), NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Shippings] ([Id], [OrderId], [ReceiverName], [ReceiverPhone], [ShippingAddress], [ShippingMethod], [ShippingStatus], [ShippingFee], [ShippedDate], [EstimatedDeliveryDate], [DeliveredDate], [TrackingCode], [CarrierName], [Note]) VALUES (1003, 2, N'Khách 2', N'0900000002', N'Hà Nội', N'EXPRESS', N'WAITING', CAST(20000.00 AS Decimal(18, 2)), NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Shippings] ([Id], [OrderId], [ReceiverName], [ReceiverPhone], [ShippingAddress], [ShippingMethod], [ShippingStatus], [ShippingFee], [ShippedDate], [EstimatedDeliveryDate], [DeliveredDate], [TrackingCode], [CarrierName], [Note]) VALUES (1004, 3, N'Khách 3', N'0900000003', N'Hà Nội', N'STANDARD', N'WAITING', CAST(20000.00 AS Decimal(18, 2)), NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Shippings] OFF
GO
INSERT [dbo].[Users] ([Id], [Name], [UserName], [Password], [Salt], [Contact], [Email], [Phone], [Position], [Image], [IsActive], [UserType], [Created]) VALUES (N'00000000-0000-0000-0000-000000000001', N'Customer 1', N'customer1', N'123456', 0x1234, N'Địa chỉ khách hàng 1', N'customer1@gmail.com', N'0900000001', N'Admin', N'/images/users/default.png', 1, 1, CAST(N'2026-04-26T23:24:36.7800000' AS DateTime2))
INSERT [dbo].[Users] ([Id], [Name], [UserName], [Password], [Salt], [Contact], [Email], [Phone], [Position], [Image], [IsActive], [UserType], [Created]) VALUES (N'00000000-0000-0000-0000-000000000002', N'Customer 2', N'customer2', N'123456', 0x1234, N'Địa chỉ khách hàng 2', N'customer2@gmail.com', N'0900000002', N'Customer', N'/images/users/default.png', 1, 2, CAST(N'2026-04-26T23:24:36.7800000' AS DateTime2))
INSERT [dbo].[Users] ([Id], [Name], [UserName], [Password], [Salt], [Contact], [Email], [Phone], [Position], [Image], [IsActive], [UserType], [Created]) VALUES (N'00000000-0000-0000-0000-000000000003', N'Customer 3', N'customer3', N'123456', 0x1234, N'Địa chỉ khách hàng 3', N'customer3@gmail.com', N'0900000003', N'Customer', N'/images/users/default.png', 1, 2, CAST(N'2026-04-26T23:24:36.7800000' AS DateTime2))
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_CartDetails_User_Product]    Script Date: 4/30/2026 7:43:52 PM ******/
ALTER TABLE [dbo].[CartDetails] ADD  CONSTRAINT [UQ_CartDetails_User_Product] UNIQUE NONCLUSTERED 
(
	[UserId] ASC,
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderDetails_OrderId]    Script Date: 4/30/2026 7:43:52 PM ******/
CREATE NONCLUSTERED INDEX [IX_OrderDetails_OrderId] ON [dbo].[OrderDetails]
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderDetails_OrderId1]    Script Date: 4/30/2026 7:43:52 PM ******/
CREATE NONCLUSTERED INDEX [IX_OrderDetails_OrderId1] ON [dbo].[OrderDetails]
(
	[OrderId1] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderDetails_ProductId]    Script Date: 4/30/2026 7:43:52 PM ******/
CREATE NONCLUSTERED INDEX [IX_OrderDetails_ProductId] ON [dbo].[OrderDetails]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Orders_UserId]    Script Date: 4/30/2026 7:43:52 PM ******/
CREATE NONCLUSTERED INDEX [IX_Orders_UserId] ON [dbo].[Orders]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Origins_Name]    Script Date: 4/30/2026 7:43:52 PM ******/
ALTER TABLE [dbo].[Origins] ADD  CONSTRAINT [UQ_Origins_Name] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_ProductOrigins_ProductId]    Script Date: 4/30/2026 7:43:52 PM ******/
ALTER TABLE [dbo].[ProductOrigins] ADD  CONSTRAINT [UQ_ProductOrigins_ProductId] UNIQUE NONCLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Products_CategoryId]    Script Date: 4/30/2026 7:43:52 PM ******/
CREATE NONCLUSTERED INDEX [IX_Products_CategoryId] ON [dbo].[Products]
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_PromotionProducts_Promotion_Product]    Script Date: 4/30/2026 7:43:52 PM ******/
ALTER TABLE [dbo].[PromotionProducts] ADD  CONSTRAINT [UQ_PromotionProducts_Promotion_Product] UNIQUE NONCLUSTERED 
(
	[PromotionId] ASC,
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Promotions_Code]    Script Date: 4/30/2026 7:43:52 PM ******/
ALTER TABLE [dbo].[Promotions] ADD  CONSTRAINT [UQ_Promotions_Code] UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Shippings_OrderId]    Script Date: 4/30/2026 7:43:52 PM ******/
ALTER TABLE [dbo].[Shippings] ADD  CONSTRAINT [UQ_Shippings_OrderId] UNIQUE NONCLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_UserName]    Script Date: 4/30/2026 7:43:52 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Users_UserName] ON [dbo].[Users]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CartDetails] ADD  DEFAULT ((1)) FOR [Quantity]
GO
ALTER TABLE [dbo].[CartDetails] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[OrderPromotions] ADD  DEFAULT ((0)) FOR [DiscountAmount]
GO
ALTER TABLE [dbo].[OrderPromotions] ADD  DEFAULT (getdate()) FOR [AppliedAt]
GO
ALTER TABLE [dbo].[Origins] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Origins] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Promotions] ADD  DEFAULT ((0)) FOR [MinimumOrderAmount]
GO
ALTER TABLE [dbo].[Promotions] ADD  DEFAULT ((0)) FOR [UsedCount]
GO
ALTER TABLE [dbo].[Promotions] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Promotions] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Reviews] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Shippings] ADD  DEFAULT ('STANDARD') FOR [ShippingMethod]
GO
ALTER TABLE [dbo].[Shippings] ADD  DEFAULT ('WAITING') FOR [ShippingStatus]
GO
ALTER TABLE [dbo].[Shippings] ADD  DEFAULT ((0)) FOR [ShippingFee]
GO
ALTER TABLE [dbo].[CartDetails]  WITH CHECK ADD  CONSTRAINT [FK_CartDetails_Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[CartDetails] CHECK CONSTRAINT [FK_CartDetails_Products_ProductId]
GO
ALTER TABLE [dbo].[CartDetails]  WITH CHECK ADD  CONSTRAINT [FK_CartDetails_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CartDetails] CHECK CONSTRAINT [FK_CartDetails_Users_UserId]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Orders_OrderId] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Orders_OrderId]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Orders_OrderId1] FOREIGN KEY([OrderId1])
REFERENCES [dbo].[Orders] ([Id])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Orders_OrderId1]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Products_ProductId]
GO
ALTER TABLE [dbo].[OrderPromotions]  WITH CHECK ADD  CONSTRAINT [FK_OrderPromotions_Orders_OrderId] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderPromotions] CHECK CONSTRAINT [FK_OrderPromotions_Orders_OrderId]
GO
ALTER TABLE [dbo].[OrderPromotions]  WITH CHECK ADD  CONSTRAINT [FK_OrderPromotions_Promotions_PromotionId] FOREIGN KEY([PromotionId])
REFERENCES [dbo].[Promotions] ([Id])
GO
ALTER TABLE [dbo].[OrderPromotions] CHECK CONSTRAINT [FK_OrderPromotions_Promotions_PromotionId]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Users_UserId]
GO
ALTER TABLE [dbo].[ProductOrigins]  WITH CHECK ADD  CONSTRAINT [FK_ProductOrigins_Origins_OriginId] FOREIGN KEY([OriginId])
REFERENCES [dbo].[Origins] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductOrigins] CHECK CONSTRAINT [FK_ProductOrigins_Origins_OriginId]
GO
ALTER TABLE [dbo].[ProductOrigins]  WITH CHECK ADD  CONSTRAINT [FK_ProductOrigins_Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductOrigins] CHECK CONSTRAINT [FK_ProductOrigins_Products_ProductId]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Categories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Categories_CategoryId]
GO
ALTER TABLE [dbo].[ProductVariants]  WITH CHECK ADD  CONSTRAINT [FK_ProductVariants_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductVariants] CHECK CONSTRAINT [FK_ProductVariants_Products]
GO
ALTER TABLE [dbo].[PromotionProducts]  WITH CHECK ADD  CONSTRAINT [FK_PromotionProducts_Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PromotionProducts] CHECK CONSTRAINT [FK_PromotionProducts_Products_ProductId]
GO
ALTER TABLE [dbo].[PromotionProducts]  WITH CHECK ADD  CONSTRAINT [FK_PromotionProducts_Promotions_PromotionId] FOREIGN KEY([PromotionId])
REFERENCES [dbo].[Promotions] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PromotionProducts] CHECK CONSTRAINT [FK_PromotionProducts_Promotions_PromotionId]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Shippings]  WITH CHECK ADD  CONSTRAINT [FK_Shippings_Orders_OrderId] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Shippings] CHECK CONSTRAINT [FK_Shippings_Orders_OrderId]
GO
ALTER TABLE [dbo].[CartDetails]  WITH CHECK ADD  CONSTRAINT [CK_CartDetails_Quantity] CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[CartDetails] CHECK CONSTRAINT [CK_CartDetails_Quantity]
GO
ALTER TABLE [dbo].[CartDetails]  WITH CHECK ADD  CONSTRAINT [CK_CartDetails_UnitPrice] CHECK  (([UnitPrice]>=(0)))
GO
ALTER TABLE [dbo].[CartDetails] CHECK CONSTRAINT [CK_CartDetails_UnitPrice]
GO
ALTER TABLE [dbo].[OrderPromotions]  WITH CHECK ADD  CONSTRAINT [CK_OrderPromotions_DiscountAmount] CHECK  (([DiscountAmount]>=(0)))
GO
ALTER TABLE [dbo].[OrderPromotions] CHECK CONSTRAINT [CK_OrderPromotions_DiscountAmount]
GO
ALTER TABLE [dbo].[Promotions]  WITH CHECK ADD  CONSTRAINT [CK_Promotions_Date] CHECK  (([EndDate]>[StartDate]))
GO
ALTER TABLE [dbo].[Promotions] CHECK CONSTRAINT [CK_Promotions_Date]
GO
ALTER TABLE [dbo].[Promotions]  WITH CHECK ADD  CONSTRAINT [CK_Promotions_DiscountType] CHECK  (([DiscountType]='FREESHIP' OR [DiscountType]='AMOUNT' OR [DiscountType]='PERCENT'))
GO
ALTER TABLE [dbo].[Promotions] CHECK CONSTRAINT [CK_Promotions_DiscountType]
GO
ALTER TABLE [dbo].[Promotions]  WITH CHECK ADD  CONSTRAINT [CK_Promotions_DiscountValue] CHECK  (([DiscountValue]>=(0)))
GO
ALTER TABLE [dbo].[Promotions] CHECK CONSTRAINT [CK_Promotions_DiscountValue]
GO
ALTER TABLE [dbo].[Promotions]  WITH CHECK ADD  CONSTRAINT [CK_Promotions_MinimumOrderAmount] CHECK  (([MinimumOrderAmount]>=(0)))
GO
ALTER TABLE [dbo].[Promotions] CHECK CONSTRAINT [CK_Promotions_MinimumOrderAmount]
GO
ALTER TABLE [dbo].[Promotions]  WITH CHECK ADD  CONSTRAINT [CK_Promotions_UsedCount] CHECK  (([UsedCount]>=(0)))
GO
ALTER TABLE [dbo].[Promotions] CHECK CONSTRAINT [CK_Promotions_UsedCount]
GO
ALTER TABLE [dbo].[Shippings]  WITH CHECK ADD  CONSTRAINT [CK_Shippings_Fee] CHECK  (([ShippingFee]>=(0)))
GO
ALTER TABLE [dbo].[Shippings] CHECK CONSTRAINT [CK_Shippings_Fee]
GO
ALTER TABLE [dbo].[Shippings]  WITH CHECK ADD  CONSTRAINT [CK_Shippings_Method] CHECK  (([ShippingMethod]='EXPRESS' OR [ShippingMethod]='STANDARD'))
GO
ALTER TABLE [dbo].[Shippings] CHECK CONSTRAINT [CK_Shippings_Method]
GO
ALTER TABLE [dbo].[Shippings]  WITH CHECK ADD  CONSTRAINT [CK_Shippings_Status] CHECK  (([ShippingStatus]='CANCELLED' OR [ShippingStatus]='FAILED' OR [ShippingStatus]='DELIVERED' OR [ShippingStatus]='SHIPPING' OR [ShippingStatus]='PICKED_UP' OR [ShippingStatus]='WAITING'))
GO
ALTER TABLE [dbo].[Shippings] CHECK CONSTRAINT [CK_Shippings_Status]
GO
